.botones-acciones {
    display: flex;
    width: 100%;
    max-width: 210px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    min-width: 130px;
}

.btn-pagar,
.btn-cancelar {
    height: 52px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 18px;
    border: 2px solid;
}

.btn-pagar {
    background-color: #000c8f;
    color: white;
    border-color: #000c8f;
}

.btn-pagar:hover {
    background-color: white;
    color: #000c8f;
    border-color: #000c8f;
}

.btn-cancelar {
    background-color: #cc0000;
    color: white;
    border-color: white;
}

.btn-cancelar:hover {
    background-color: white;
    color: #cc0000;
    border-color: #cc0000;
}
