.menu-principal {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
}
.contenedor {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.apartado, .apartado-pdv, .apartado-producto {
    background-color: darkgrey;
    border-radius: 8px;
}
.apartado{
    height: 150px;
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.apartado-pdv, .apartado-producto {
    height: 150px;
    width: 410px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.apartado:hover {
    background-color: grey;
    transform: scale(1.08);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.apartado-pdv:hover, .apartado-producto:hover {
    background-color: grey;
    transform: scale(1.04);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}