:root {
    --borde-panel: 2px solid #ddd;
    --fondo-panel: #ffffff;
    --radio-panel: 10px;
    --padding-panel: 12px;
}
.ancho-estandar {
    width: 100%;
    max-width: 950px; /* mismo valor que las tarjetas barra */
    box-sizing: border-box;
}

.panel-izquierdo-contenedor {
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 850px;
    max-width: 100%;
    padding: var(--padding-panel);
    border: var(--borde-panel);
    border-radius: var(--radio-panel);
    background-color: var(--fondo-panel);
    box-sizing: border-box;
    position: relative;
}

.barra-superior {
    margin-bottom: 5px;
}
.productos-scroll {
    padding: 10px 40px 0 20px; /* top, right, bottom, left */
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.switch-inferior {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.productos-scroll.modo-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}


.productos-scroll.modo-lista > * {
    width: 100%;
    max-width: 950px;
    height: 30px;
}

@media (max-width: 1024px) {
    .productos-scroll {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .panel-izquierdo-contenedor {
        width: 100%; /* ocupa todo el ancho en móvil */
        height: auto;
    }

    .productos-scroll {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .productos-scroll {
        grid-template-columns: repeat(2, 1fr);
    }

    .switch-inferior {
        justify-content: center; /* centrado en móvil */
    }
}


