:root {
    --borde-panel: 2px solid #ddd;
    --fondo-panel: #ffffff;
    --radio-panel: 10px;
    --padding-panel: 15px;
}

.panel-izquierdo-contenedor {
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 850px;
    max-width: 100%;
    padding: var(--padding-panel);
    border: var(--borde-panel);
    border-radius: var(--radio-panel);
    background-color: var(--fondo-panel);
    box-sizing: border-box;
    position: relative;
    gap: 2px;
}

.barra-superior {
    margin-bottom: 5px;
}

.productos-scroll {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    box-sizing: border-box;

    border: var(--borde-panel);
    border-radius: var(--radio-panel);
    padding: 10px;
    background-color: var(--fondo-panel);
}

.productos-scroll.modo-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.productos-scroll.modo-lista > * {
    width: 100%;
    max-width: 100%;
}

.switch-inferior {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}


@media (max-width: 1024px) {
    .productos-scroll {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .panel-izquierdo-contenedor {
        width: 100%;
        height: auto;
    }

    .productos-scroll {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .productos-scroll {
        grid-template-columns: repeat(2, 1fr);
    }

    .switch-inferior {
        justify-content: center;
        padding-bottom: 10px;
    }
}
