.modal-agregar-categoria {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 12, 143, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 60px 0;
    box-sizing: border-box;
}

.modal-contenido {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.campo-entrada {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-titulo {
    font-size: 26px;
    font-weight: 800;
    color: #000C8F;
    text-align: center;
}

.modal-titulo span {
    color: #2faaf6;
}

.modal-botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-botones button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.modal-botones button:first-child {
    background-color: #000c8f;
    color: white;
}

.modal-botones button:last-child {
    background-color: #e0e0e0;
    color: #333;
}
