.pantalla-pdv {
    display: flex;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 89vh;
    background-color: #f9f9f9;
}

/* En pantallas pequeñas, que se apilen */
@media (max-width: 1024px) {
    .pantalla-pdv {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}
