.boton-agregar-global {
    height: 40px;
    width: 130px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-principal, #ffffff);
    color: white;
    border: none;
    border-radius: var(--radio-panel, 10px);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-agregar-global:hover {
    background-color: white;
    color: var(--color-principal, #000c8f);
    border: 2px solid var(--color-principal, #000c8f);
}

.icono-agregar {
    width: 22px;
    height: 22px;
    stroke-width: 2;
    margin-top: 4px;
    fill: white;
}

.boton-agregar-global:hover .icono-agregar {
    color: var(--color-principal, #000c8f);
    fill: #000c8f; /* ahora también se rellena de blanco */
}
