.modal-aviso-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-aviso-contenido {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-aviso-contenido h2 {
    color: #000C8F;
    margin-bottom: 0;
    margin-top: 0;
}

.modal-aviso-contenido p {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
}

.boton-cerrar {
    background-color: #000C8F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.boton-cerrar:hover {
    background-color: #0057B8;
}

@keyframes slideDownFade {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-aviso {
    width: 250px;
    height: auto;
    margin-bottom: 0;
    filter: brightness(0) saturate(100%) invert(7%) sepia(91%) saturate(7527%) hue-rotate(223deg) brightness(87%) contrast(104%);
    animation: slideDownFade 1s ease-in-out;
}
