.modal-iniciar-sesion {
    position: absolute; /* Usamos absolute para colocar el modal con top/left */
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #002952;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
}

.boton-cuenta {
    margin-top: 10px;
    height: 30%;
    width: 80%;
}

.boton-cuenta:hover {
    background-color: #357AE8;
    cursor: pointer;
}