button {
    cursor: pointer;
}

.BarraNavegacion {
    display: flex;
    height: 50px;
    background-color: #002952 ;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
    margin-right: 10px;
}
.menu span {
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}
.items {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: white;
}
#item {
    padding: 5px 10px;
}
#item:hover {
    border-radius: 5px;
    background-color: #003D7A;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.login-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;  /* Transición para el cambio de color */
}

.login-button:hover {
    background-color: #357AE8;
}



