.tarjeta-inventario-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
    border-radius: 16px;
    background-color: #ffffff;
    border: 2px solid #000c8f;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
    width: 91%;
    max-width: 1500px;
    transition: transform 0.2s ease;
}

.tarjeta-inventario-barra:hover {
    transform: scale(1.01);
}

.icono-nombre {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 2;
}

.titulo {
    font-weight: 600;
    font-size: 16px;
    color: #000C8F;
}

.detalle {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #444;
}
