:root {
    --borde-panel: 2px solid #ddd;
    --fondo-panel: #ffffff;
    --radio-panel: 10px;
    --padding-panel: 12px;
}

.pantalla-productos {
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.productos-scroll-contenedor {
    flex: 1;
    height: 90vh;
    width: 100%;
    max-width: 1520px;
    min-height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}

.productos-panel-full {
    display: flex;
    flex-direction: column;
    padding: var(--padding-panel);
    border-radius: var(--radio-panel);
    background-color: var(--fondo-panel);
    box-sizing: border-box;
    position: relative;
}

.barra-superior {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.productos-scroll {
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 8px;
    padding: 10px;
}

.productos-scroll.modo-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px 10px;
}

.productos-scroll.modo-lista > * {
    width: 100%;
    margin: 0 auto;
}

.switch-inferior {
    z-index: 1;
    padding: 1px 0;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

/* Responsive opcional */
@media (max-width: 768px) {
    .productos-scroll {
        grid-template-columns: repeat(2, 1fr);
    }

    .switch-inferior {
        justify-content: center;
    }
}

.fila-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.contenedor-buscador {
    flex: 1;
    min-width: 200px;
}

.botones-superior {
    display: flex;
    gap: 15px;
}

.boton-agregar {
    padding: 10px 20px;
    font-size: 18px;
}

